HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/application-secret.yml
/src/main/java/com/logement/etudiants/controller/brouillon
/src/main/resources/brouillon
/src/main/java/com/logement/etudiants/dto/response/brouillon
/src/main/java/com/logement/etudiants/entity/brouillon
/src/main/java/com/logement/etudiants/enumeration/brouillom
/src/main/java/com/logement/etudiants/repository/brouillon
/src/main/java/com/logement/etudiants/security/brouillon
/src/main/java/com/logement/etudiants/service/brouillon
